
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.brand-link{
    color: white;
    background-color: rgb(24, 104, 168);
}
.brand-link{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-panel.d-block{
    height: 20px;
}
#user-panell{
    text-decoration: none;
    color: white;
    text-align: center;
}
#user-status{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 10px;
}

.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 40px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links li a .icon__badge{
    color: #fff;
    font-size: 12px;
    align-content: space-around;
    font-weight: 400;
    
  }
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.badge0{
    background-color: #00a2ff;
}
.badge00{
    background-color: rgb(17, 175, 17);
}
.badge01{
    background-color:red;
}
.badge02{
    background-color: rgb(199, 199, 12);
}

.home-section{
  position: relative;
  background: rgb(228, 228, 228);
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: rgb(32, 115, 209);
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 35px;
  margin-right: 10px;
  color: white;
}
.bx-envelope{
    color: white;
}
.bx-bell{
    color: white;
}
.bxs-flag-alt{
    color: white;
}
.userr{
    position: relative;
    color: white;
    top: -4px;
}
.bx-cog{
    color: white;
}
.icon__badge.badge1{
    position: relative;
    align-items: center;
    background-color: hsla(118, 87%, 36%, 0.774);
    color: white;
    height: 5px;
    width: 5px;
    top: -5px;
    right: -5px;
    left: -6px;
}
.icon__badge.badge2{
    position: relative;
    align-items: center;
    background-color: hsla(27, 90%, 52%, 0.774);
    color: white;
    height: 2px;
    width: 5px;
    top: -5px;
    right: -5px;
    left: -6px;
}
.icon__badge.badge3{
    position: relative;
    align-items: center;
    background-color: red;
    color: white;
    height: 5px;
    width: 5px;
    top: -5px;
    right: -5px;
    left: -6px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
.content header{
    margin-top: 0px;
    padding: 0px;
    align-content: flex-start;
}
.home-dashboard{
    font-size: 20px;
}
.home-sub{
    color: grey;
    font-size: 10px;
}
.home-sub-2{
    justify-content: right;
}
.home-section .home-content{
  position: relative;
  padding-top: 70px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 0px 0px;
  border-radius: 2px;
}
.overview-boxes .box-topic{
  font-size: 12px;
  font-weight: 500;
}
.overview-boxes.imageset1{
    height: auto;
    width: auto;
    max-height: 100%;
    max-width:100%;
    line-height: 20px;
    object-fit: contain;
}
.home-content .box .number{
  display: inline-block;
  font-size: 12px;
  margin-top: -6px;
  font-weight: bold;
}
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: center;
  margin: 20px;
  /* padding: 0 20px; */
}
.wrapper {
    display: grid;
    grid-auto-rows: 100px;
  }
  
  .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .box2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .box4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .box5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .box6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .box7 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  
/* left box */
.box4 h4{
    color: green;
}
.box5 h4{
    color: orange;
}
.box6 h4{
    color: green;
}
.box7 h4{
   
    color: red;
}
.box4 h3{
  
    font-size: 12px;
}
.box5 h3{
 
    font-size: 12px;
}
.box6 h3{
  
    font-size: 12px;
}
.box7 h3{
   
    font-size: 12px;
}
.box4 .subheading{
    
    font-weight: normal;
    font-size: 10px;
}
.box5 .subheading{
    
    font-weight: normal;
    font-size: 10px;
}
.box6 .subheading{
   
    font-weight: normal;
    font-size: 10px;
}
.box7 .subheading{
    font-weight: normal;
    
    font-size: 10px;
}
.home-content .sales-boxes .recent-sales{
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li{
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #0d3073;
}
#visitors{
    margin-left: 0px;
}
#report{
    margin-right: 20px;
    margin-left: 0px;
    padding: 0px;
    font-size: 14px;
}
.inventory{
    background-color: orange;
    color: white;
    padding: 0px;
}
.mentions{
    background-color: green;
    color: white;
}
.downloads{
    background-color: red;
    color: white;
}
.direct-messages{
    background-color: rgb(0, 140, 255);
    color: white;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
