body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(248, 250, 250);
}
#leftside{
    background-color: rgba(209, 207, 207, 0.42);
    padding: 0rem;
    text-align: left;
}
.sidebar-brand{
    font-weight: bold;
}
#navitems{
    text-align: left;
}
.sidebar-header{
    list-style-type: none;
    font-size: 11px;
    color: grey;
}
.sidebar-item{
    list-style-type: none;
    height: 40px;
}
#dashboard{
    color: #0077ff;
}
.bi-house-door{
    color: #0077ff;
}
.bi-calendar4{
    color: rgb(66, 206, 248);
}
.bi-people{
    color: rgb(77, 216, 77);
}
.bi-chat{
    color: rgb(231, 210, 21);
}
.bi-envelope{
    color: rgb(232, 68, 247);
}
.sidebar-link{
    font-size: 12px;
    color: rgb(78, 78, 78);
    font-weight: bold;
}
.progress-bar{
    height: 5px;
    color:blue;
    transform-style : rounded-pill;
} 
h3{
    font-size: 14px;
    font-weight: bold;
}
.subtext{
    font-size: 10px;
    font-weight: bold;
    padding: 0px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}
.card-body{
    background-color: white;
    margin: 10px;
}
h5{
    font-size: 8px;
    color: grey;
}
.coloredtxt{
    font-size: 10px;
    font-weight: bold;
    color: #008cff;
}
#aa{
    text-align: right;
}
#refferal{
    text-align: center;
}
#map{
    text-align: center;
}
#piink{
    color: rgb(231, 31, 65);
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.userside{
    align-content: flex-end;
}





